main {
  width: 100%;
  
  .editor {
    padding: 9px 0px;
    background: url('../images/illustration-editor-desktop.svg') 122% 30% no-repeat;
    background-size: 38rem;
    color: $dark-gray-blue;

    h1 {
      margin-top: 100px;
      text-align: center;
    }

    .conatainer {
      padding: 44px 724px 150px 136px;
      line-height: 20px;
      
      h2 {
        margin-bottom: 20px;
      }

      p {
        padding: 10px 100px 20px 0px;
        margin-bottom: 35px;
      }
    }

  }

  .state {
    background: $gradient-state;
    border-radius: 0px 69px 0px 69px;
    position: relative;
    
    .conatainer {
      width: 100%;
      height: 100%;
      padding: 80px;
      background: url("../images/bg-pattern-circles.svg") -41% 83% no-repeat;
      background-size: 50rem;

      img {
        width: 22rem;
        height: 26rem;
        position: absolute;
        top: -45px;
        left: 100px;
      }

      .description {
        color: $white;
        padding: 0px 76px 0px 692px;
        line-height: 23px;
        text-align: left;

        h2 {
          margin-bottom: 25px;
        }

        p {
          padding: 0px 26px 0px 0px;
        }
      }
    }
  }

  .footerMain {
    margin-top: 23px;
    padding: 120px 0px;
    background: url('../images/illustration-laptop-desktop.svg') -23% 6% no-repeat;
    background-size: 38rem;
    color: $dark-gray-blue;
    
    .footerDescriptions {
      width: 100%;
      padding: 44px 177px 150px 771px;;
      line-height: 20px;

      h2 {
        margin-bottom: 20px;
      }

      p {
        padding: 0px 26px 0px 0px;
        margin-bottom: 35px;
      }
    }
  }
}