main {
  width: 100%;
  
  .editor {
    padding: 9px 0px;
    background: url('../images/illustration-editor-desktop.svg') 122% 30% no-repeat;
    background-size: 38rem;
    color: $dark-gray-blue;

    h1 {
      margin-top: 100px;
      text-align: center;
    }

    .conatainer {
      padding: 44px 724px 150px 136px;
      line-height: 20px;
      
      h2 {
        margin-bottom: 20px;
      }

      p {
        padding: 10px 100px 20px 0px;
        margin-bottom: 35px;
      }
    }
  }

  .state {
    background: $gradient-state;
    border-radius: 0px 69px 0px 69px;
    position: relative;
    
    .conatainer {
      padding: 80px;
      background: url("../images/bg-pattern-circles.svg") -41% 83% no-repeat;
      background-size: 50rem;

      img {
        width: 22rem;
        height: 26rem;
        position: absolute;
        top: -45px;
        left: 100px;
      }

      .description {
        color: $white;
        padding: 0px 76px 0px 692px;
        line-height: 23px;
        text-align: left;

        h2 {
          margin-bottom: 25px;
        }

        p {
          padding: 0px 26px 0px 0px;
        }
      }
    }
  }

  .footerMain {
    margin-top: 23px;
    padding: 120px 0px;
    background: url('../images/illustration-laptop-desktop.svg') -23% 6% no-repeat;
    background-size: 38rem;
    color: $dark-gray-blue;
    
    .footerDescriptions {
      padding: 44px 177px 150px 771px;;
      line-height: 20px;

      h2 {
        margin-bottom: 20px;
      }

      p {
        padding: 0px 26px 0px 0px;
        margin-bottom: 35px;
      }
    }
  }

  @media (max-width: 375px) {
    .editor {
      background: url('../images/illustration-editor-mobile.svg') 53% 14% no-repeat;
      background-size: 77rem;
      
      h1 {
        font-size: 78px;
        margin-bottom: 110px;
      }

      .conatainer {
        margin-top: 1150px;
        padding: 150px 90px;
        line-height: 89px;

        h2 {
          padding: 8px 98px;
          font-size: 76px;
        }

        p {
          margin-bottom: 100px;
          padding: 8px 98px;
          font-size: 42px;
        }
      }
    }

    .state {
      margin-top: 100px;
      
      .conatainer {
        margin-top: 490px;
        padding: 400px 80px;
        background: url("../images/bg-pattern-circles.svg") 47% 85% no-repeat;
        background-size: 115rem;
        
        img {
          width: 67rem;
          height: 74rem;
          top: -540px;
        }

        .description {
          margin-top: 240px;
          padding: 0px;
          line-height: 89px;
          text-align: center;

          h2 {
            padding: 8px 98px;
            font-size: 86px;
            margin-bottom: 50px;
          }

          p {
            padding: 8px 98px;
            font-size: 42px;
          }
        }
      }
    }

    .footerMain {
      background: url('../images/illustration-laptop-mobile.svg') 53% 14% no-repeat;
      background-size: 77rem;

      .footerDescriptions {
        margin-top: 1150px;
        padding: 150px 90px;
        line-height: 89px;

        h2 {
          padding: 8px 98px;
          font-size: 76px;
        }

        p {
          margin-bottom: 100px;
          padding: 8px 98px;
          font-size: 42px;
        }
      }
    }
  }
}