// Colors
$white: #fff;
$light-white: #FF7B86;
$black: #24242C;
$gradient: linear-gradient(100.05deg, #FF8F70 4.09%, #FF3D54 95.53%);
$gradient-state: linear-gradient(100.05deg, #2C2D3F 4.09%, #3F4164 95.53%);
$red: #FF3D54;
$light-red: #FF8F70;
$dark-gray-blue: #2C2D3F;
$dark-desaturated-blue: #3F4164;

// Fonts
$Overpass: 'Overpass', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;