* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

li {
  list-style: none;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  color: #fff;
  border-radius: 0px 0px 0px 130px;
  background: linear-gradient(100.05deg, #FF8F70 4.09%, #FF3D54 95.53%);
}

header .container {
  width: 100%;
  height: 100%;
  padding: 40px 150px;
  background: url("../images/bg-pattern-intro.svg") 26% 50%;
}

header .container .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .navBar .ulConatiner {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .navBar .ulConatiner ul a {
  color: #fff;
  position: relative;
  opacity: .7;
  font-weight: 600;
}

header .container .navBar .ulConatiner ul a:hover {
  opacity: 1;
  text-decoration: underline;
}

header .container .navBar .ulConatiner ul a img {
  margin-left: 5px;
}

header .container .navBar .ulConatiner ul a .image {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

header .container .navBar .ulConatiner ul .hidden {
  position: fixed;
  margin-top: 20px;
  padding: 20px 40px 20px 20px;
  background: #fff;
  color: #24242C;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

header .container .navBar .ulConatiner ul .hidden li {
  margin: 10px 0px;
  cursor: pointer;
}

header .container .navBar .ulConatiner ul .hidden li:hover {
  font-weight: bold;
}

header .container .navBar .ulConatiner ul .active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .3s;
  transition: .3s;
}

header .container .navBar button {
  padding: 10px 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  border-radius: 99px;
}

header .container .navBar .login {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

header .container .navBar .login:hover {
  text-decoration: underline;
  opacity: .6;
}

header .container .navBar .sing {
  color: #FF3D54;
  background: #fff;
  border: none;
  cursor: pointer;
}

header .container .navBar .sing:hover {
  color: #fff;
  background: #FF7B86;
}

header .container main {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}

header .container main p {
  margin: 10px;
  opacity: .7;
}

header .container main button {
  margin: 25px;
  padding: 15px;
  border: none;
  border-radius: 99px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

header .container main .start {
  color: #FF3D54;
  background: #fff;
}

header .container main .start:hover {
  color: #fff;
  background: #FF7B86;
}

header .container main .learn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

header .container main .learn:hover {
  color: #FF3D54;
  background: #fff;
}

footer {
  padding: 40px 220px;
  background: #24242C;
  color: #fff;
  border-radius: 0px 130px 0px 0px;
}

footer .footerDiv {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerDiv .linksFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerDiv .linksFooter h4 {
  margin-bottom: 50px;
}

footer .footerDiv .linksFooter a {
  color: #fff;
  margin: 10px;
  opacity: .8;
}

footer .footerDiv .linksFooter a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */